*
{
	padding: 0;
	margin: 0;
}

body
{
	background: black;
	position: relative;
}

#banner
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 992px;
	height: 192px;
	position: relative;

}

#title
{
	font-family: 'Lemon', cursive;
	font-size: 64pt;
	position: absolute;
	top: 16%;
	left: 28%;
	
}

#title1
{
	border: 4px solid red;
	padding: 0px 16px;
	background-color: #ffffff
}

#cgol
{
	margin-left: auto;
	margin-right: auto;
}

.search
{
	position: absolute;
}

.mail
{
	position: absolute;
}

#navbar
{
	position: relative;
	width: 992px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	
	background: white;
	color: black;
	border-top: solid 2px red;
	border-bottom: solid 2px red;
	
}

.navopt
{

	display: block;
	color: #000000;
    text-decoration: none;
	border-left: solid 2px red;
	border-right: solid 2px red;
	width: 16.26%;
	height: 100%;
	text-align: center;
	position: relative;
	float: left;
	background-color: #FFAA99;
	-webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;


}

.navopt span
{
	position: relative;
	top: 20%;
	font-size: 16pt;
	text-align: center;
	font-family: 'Marko One', serif;


}

.navopt:hover
{
    background-color: #FF0000;
}

#news-body
{
	width: 992px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
	padding: 20px 0;
}

.news-article
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #FFAA99;
}

.news-article h1
{
	background-color: #ff2211;
	padding-left: 20px;
	font-family: 'Lemon', cursive;
}

.news-article ul
{
	margin: 20px 20px 20px 30px;
}

.news-article ul > li
{
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
}

.news-article p
{
	margin: 20px;
	font-family: 'Lato', sans-serif;
}


.article-img 
{
background: linear-gradient(to right, black , red);
float: left;
position:relative;
padding: 10px;
margin: 20px;


}
.article-img img
{
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	float: left;
	
}

#register, #login
{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 992px;
	position: relative;
	font-family: 'Lato', sans-serif;
	padding: 20px 0;
}

#register h1,#login h1
{
	position: relative;
	left: 40%;
	font-family: 'Marko One', serif;
	width: 200px;
}

#register form,#login form
{
	margin: 35px 0;
	border: solid 1px black;
	width: 300px;
	position: relative;
	left: 30%;
	padding: 25px 0 25px 30px;

	background-color: #FFAA99;
}