*
{
	padding: 0;
	margin: 0;
}

body
{
	background: black;
	position: relative;
}

#banner
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 992px;
	height: 192px;
	position: relative;

}

#title
{
	font-family: 'Lemon', cursive;
	font-size: 64pt;
	position: absolute;
	top: 16%;
	left: 28%;
	
}

#title1
{
	border: 4px solid red;
	padding: 0px 16px;
	background-color: #ffffff
}

#cgol
{
	margin-left: auto;
	margin-right: auto;
}

.search
{
	position: absolute;
}

.mail
{
	position: absolute;
}

#navbar
{
	position: relative;
	width: 992px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	
	background: white;
	color: black;
	border-top: solid 2px red;
	border-bottom: solid 2px red;
	
}

.navopt
{

	display: block;
	color: #000000;
    text-decoration: none;
	border-left: solid 2px red;
	border-right: solid 2px red;
	width: 16.26%;
	height: 100%;
	text-align: center;
	position: relative;
	float: left;
	background-color: #FFAA99;
	-webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;

}

.navopt span
{
	position: relative;
	top: 20%;
	font-size: 16pt;
	text-align: center;
	font-family: 'Marko One', serif;
}

.current-page
{
	background-color: #ff0000;
}

.navopt:hover
{
    background-color: #FF0000;
}

#news-body
{
	width: 992px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
	padding: 20px 0;
}

.news-article
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #FFAA99;
}

.news-article h1
{
	background-color: #ff2211;
	padding-left: 20px;
	font-family: 'Lemon', cursive;
}

.news-article ul
{
	margin: 20px 20px 20px 30px;
}

.news-article ul > li
{
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
}

.news-article p
{
	margin: 20px;
	font-family: 'Lato', sans-serif;
}


.article-img 
{
background: linear-gradient(to right, black , red);
float: left;
position:relative;
padding: 10px;
margin: 20px;


}
.article-img img
{
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	float: left;
	
}

#register, #login
{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 992px;
	position: relative;
	font-family: 'Lato', sans-serif;
	padding: 20px 0;
}

#register h1,#login h1
{
	position: relative;
	left: 40%;
	font-family: 'Marko One', serif;
	width: 200px;
}

#register form,#login form
{
	margin: 35px 0;
	border: solid 1px black;
	width: 300px;
	position: relative;
	left: 30%;
	padding: 25px 0 25px 30px;

	background-color: #FFAA99;
}

#regresult
{
	background-color: #ffffff;
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}

#profile
{
	background-color: #ffffff;
	width: 992px;
	margin-left: auto;
	margin-right: auto;
	min-height: 860px;
	position: relative;
	font-family: 'Lato', sans-serif;
}

#profavatar
{
	background-color: #000000;
	width: 256px;
	height: 256px;
	position: absolute;
	left: 42px;
	top: 42px;
	border: solid 2px red;
}

#profidentity
{
	background-color: #FFFFFF;
	width: 300px;
	height: 130px;
	position: absolute;
	right: 200px;
	top: 100px;
	border: solid 1px red;

	text-align: center;
	background-color: #FFAA99;
}

#profprojects
{
	background-color: #FFAA99;
	width: 256px;
	min-height: 0px;
	position: absolute;
	left: 42px;
	top: 340px;

}

#profbio
{
	background-color: #FFAA99;
	width: 608px;
	min-height: 500px;
	position: absolute;
	right: 42px;
	top: 340px;
	

}

#profidentity .profname
{
	font-family: 'Lemon', cursive;
	font-size: 18pt;
	pointer-events: none;
}

#profidentity .profrole
{
	font-family: 'Marko One', sans-serif;
	pointer-events: none;
}


#profprojects h1
{
	background-color: #ff2211;
	padding-left: 10px;
	font-family: 'Lemon', cursive;
	font-size: 14pt;
	position: relative;
}

.exp
{
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	top: 3px;
	right: 4px;
	cursor: pointer;

}

#profprojects a
{
	display: block;

}

#active-projects, #finished-projects
{
	position: relative;
	overflow: hidden;
	max-height: auto;
	-webkit-transition: height 0.5s, -webkit-transform 0.5s;
    transition: height 0.5s, transform 0.5s;

}

#profbio h1
{
	background-color: #ff2211;
	padding-left: 10px;
	font-family: 'Lemon', cursive;
	font-size: 14pt;
	position: relative;
}

#profbio div
{
	margin: 20px 30px;
}

#presearch form
{
	margin: 35px 30px;
	border: solid 1px black;
	width: 300px;
	position: relative;
	left: 30%;
	padding: 25px 0 25px 30px;

	background-color: #FFAA99;

}

#presearch
{
	width: 992px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
	padding: 20px 0;
	font-family: 'Lato', sans-serif;

}

#presearch h1
{
	position: relative;
	left: 34%;
	font-family: 'Marko One', serif;
	width: 400px;
}

#user-search-res
{
	width: 992px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
	padding: 20px 0;
	font-family: 'Lato', sans-serif;
	height: 500px;

}

#user-search-res div
{
	background-color: #ffAA99;
	display: block;
	width: 250px;
	height: 100px;
	margin: 20px 0px 20px 52px;
	float: left;
	position: relative;
	border: solid 2px black;
}

#user-search-res div img
{
	border: solid 1px black;
	position: absolute;
	top: 17px;
	left: 15px;
}

#user-search-res div a
{
	color: black;
	font-size: 16pt;
	position: absolute;
	top: 40%;
	left: 94px;
}

#message-disp
{
	width: 992px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
	padding: 20px 0;
	font-family: 'Lato', sans-serif;
	height: 500px;
}

#message-list
{
	position: absolute;
	top: 30px;
	left: 85px;
	width: 200px;
	min-height: 500px;
	border: solid 2px black;
}

#message-body
{
	position: absolute;
	top: 30px;
	right: 85px;
	width: 500px;
	height: 350px;
	border: solid 2px black;
}

#message-action
{
	position: absolute;
	top: 410px;
	right: 85px;
	width: 500px;
	height: 100px;
	border: solid 2px black;
}